<h4>Domains</h4>
<table id="domains-table" class="table table-striped table-hover">
  <tr><th>Domain</th><th>Actions</th></tr>
  @in[domain domains]{
    <tr>
      <td>@(domain-name domain)</td>
      <td>
        <button type="button" class="btn btn-default"
          onclick="edit_domain(@(domain-id domain))"
          data-toggle="modal" data-target="#edit-domain-@(domain-id domain)">
          Edit
        </button>
        <button type="button" class="btn btn-danger"
          onclick="delete_domain(@(domain-id domain), this)">
          Delete
        </button>
      </td>
    </tr>
  }
</table>
<br />
<button type="button" class="btn btn-primary"
  data-toggle="modal" data-target="#add-domain">
  Add Domain
</button>
<div class="modal fade" id="add-domain" tabindex="-1"
  role="dialog" aria-labelledby="add-domain-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="add-domain-label">
          Edit New Domain
        </h4>
      </div>
      <div class="modal-body">
        <form id="add-domain-form">
          <div class="form-group">
            <label for="add-domain-name">Domain name</label>
            <input type="text" class="form-control" name="name"
              id="add-domain-username" placeholder="Domain name" />
          </div>
          <div class="form-group">
            <label for="add-domain-emails">Create admin email account?</label>
            <input type="checkbox" name="create_emails" value="true" checked />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" onclick="create_domain()">
          Create domain
        </button>
      </div>
    </div>
  </div>
</div>

<div id="alert-saved"
  class="alert alert-success alert-dismissible hidden" role="alert">
  <button type="button" class="close"
    data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success!</strong> Your changes have been saved.
</div>
<div id="alert-failed"
  class="alert alert-danger alert-dismissible hidden" role="alert">
  <button type="button" class="close"
    data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Oops!</strong> Your changes were not saved.
</div>

<!-- This template gets copied and filled out on demand by edit_domain()
     rather than sending a whole modal dialog for every domain. -->
<div class="modal fade" id="edit-domain-template" tabindex="-1"
  role="dialog" aria-labelledby="edit-domain-template-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="edit-domain-template-label">
          Edit Domain
        </h4>
      </div>
      <div class="modal-body">
        <form id="edit-domain-template-form">
          <div class="form-group">
            <label for="edit-domain-name-template">Domain name</label>
            <input type="text" class="form-control" name="name"
              id="edit-domain-name-template" placeholder="Domain name" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 function show_alert(selector, type) {
   let a = $(`#alert-${type}`).clone();
   a.removeClass('hidden');
   a[0].id = undefined;
   a.insertBefore(selector);
 }

 function create_domain() {
   let form = $('#add-domain-form');
   let f = form[0];
   form.submit((event) => {
     let formData = { name: f.name.value };
     $.ajax({
       url: '/api/domains',
       method: 'POST',
       processData: false,
       contentType: 'application/json',
       data: JSON.stringify(formData)
     })
       .done((id) => {
         let row = $('<tr></tr>');
         let name = `<td>${formData.name}</td>`;
         row.append(name);
         let buttons =
           `<td>
              <button
                type="button" class="btn btn-default"
                onclick="edit_domain(${id})"
                data-toggle="modal"
                data-target="#edit-domain-${id}">
                Edit
              </button>
              <button type="button" class="btn btn-danger"
                onclick="delete_domain(${id}, this)">
                Delete
              </button>
            </td>`;
         row.append(buttons);
         $('#domains-table').append(row);
         show_alert(form, 'saved');
       })
       .fail(() => show_alert(form, 'failed'));
     event.preventDefault();
   });
   form.submit();
 }

 function edit_domain(id) {
   // Check if we already have generated the form for this user.
   let modal = $(`#edit-domain-${id}`);
   if (modal.length === 0) {
     // Initialize a new form from the template.
     let template = $('#edit-domain-template');
     modal = template.clone();
     modal[0].id = modal[0].id.replace('template', id);
     modal.find('[id*="template"]').each(
       (index, element) => element.id = element.id.replace('template', id)
     );
     let form = modal.find('form');
     let f = form[0];

     // Fill form with data from the API.
     $.ajax(`/api/domains/${id}`)
       .done((data, textStatus, jqXhr) => {
         let domain = jqXhr.responseJSON;
         f.name.value = domain[1];
       });

     // Wire up the submit button.
     form.submit((event) => {
       let formData = { name: f.name.value };
       $.ajax({
         url: `/api/domains/${id}`,
         method: 'PATCH',
         processData: false,
         contentType: 'application/json',
         data: JSON.stringify(formData)
       })
         .done(() => show_alert(form, 'saved'))
         .fail(() => show_alert(form, 'failed'));
       event.preventDefault();
     });
     modal.find('button').last().click(() => form.submit());

     modal.insertAfter(template);
   }
 }

 function delete_domain(id, elem) {
   $.ajax({
     url: `/api/domains/${id}`,
     type: 'DELETE'
   })
     .done(() => {
       $(`#edit-domain-${id}`).remove();
       $(elem).parents('tr').remove();
       show_alert('#domains-table', 'saved');
     })
     .fail(() => show_alert('#domains-table', 'failed'));
 }
</script>
