<h4>Overview</h4>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>

<h4>Domains Without Records</h4>
<p>The following domains have no records:</p>
<ul>
  @in[domain domains-without-records]{
    <li>@|domain|</li>
  }
</ul>
