<h4>Records</h4>
<select id="domain-select" onchange="update_records_table(this.value)">
  <option disabled selected>Select a domain</option>
  @in[domain domains]{
    <option value="@(domain-id domain)">@(domain-name domain)</option>
  }
</select>
<br />
<br />
<table id="records-table" class="table table-striped table-hover">
  <tr><th>Name</th><th>Type</th><th>Content</th><th>TTL</th></tr>
</table>

<script type="text/javascript">
 function update_records_table(id) {
   $.ajax(`/api/records?domain_id=${id}`)
     .done((data) => {
       let records = JSON.parse(data)
         .map((row) => {
           return `
             <tr>
               <td>${row[2]}</td>
               <td>${row[3]}</td>
               <td>${row[4]}</td>
               <td>${row[5]}</td>
             </tr>`;
         });
       let table = $('#records-table > :first-child');
       let header = table.children(':first-child');
       table.children().replaceWith(header.after(records.join('')));
     });
 }
</script>
