<h4>Accounts</h4>
<table id="accounts-table" class="table table-striped table-hover">
  <tr><th>Account</th><th>Actions</th></tr>
  @in[account accounts]{
    <tr>
      <td>@(account-name account)</td>
      <td>
        <button type="button" class="btn btn-default"
          onclick="edit_account(@(account-id account))"
          data-toggle="modal" data-target="#edit-account-@(account-id account)">
          Edit
        </button>
        <button type="button" class="btn btn-danger"
          onclick="delete_account(@(account-id account), this)">
          Delete
        </button>
      </td>
    </tr>
  }
</table>
<br />
<button type="button" class="btn btn-primary"
  data-toggle="modal" data-target="#add-account">
  Add Account
</button>
<div class="modal fade" id="add-account" tabindex="-1"
  role="dialog" aria-labelledby="add-account-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="add-account-label">
          Edit New Account
        </h4>
      </div>
      <div class="modal-body">
        <form id="add-account-form">
          <div class="form-group">
            <label for="add-account-username">Username</label>
            <input type="text" class="form-control" name="username"
              id="add-account-username" placeholder="Username" />
          </div>
          <div class="form-group">
            <label for="add-account-domain">Domain</label>
            <select class="form-control" name="domain_id" id="add-account-domain">
              @in[domain domains]{
                <option value="@(domain-id domain)">@(domain-name domain)</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label for="add-account-password">Password</label>
            <input type="password" class="form-control" name="password"
              id="add-account-password" placeholder="Password" />
          </div>
          <div class="form-group">
            <label for="add-account-password-again">Confirm password</label>
            <input type="password" class="form-control" name="password_again"
              id="add-account-password-again" placeholder="Password again" />
          </div>
          <input type="hidden" name="password_hash" value="" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" onclick="create_account()">
          Create account
        </button>
      </div>
    </div>
  </div>
</div>

<div id="alert-saved"
  class="alert alert-success alert-dismissible hidden" role="alert">
  <button type="button" class="close"
    data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success!</strong> Your changes have been saved.
</div>
<div id="alert-failed"
  class="alert alert-danger alert-dismissible hidden" role="alert">
  <button type="button" class="close"
    data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Oops!</strong> Your changes were not saved.
</div>
<div id="alert-passwords"
  class="alert alert-danger alert-dismissible hidden" role="alert">
  <button type="button" class="close"
    data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Oops!</strong> Your passwords don't match.
</div>

<!-- This template gets copied and filled out on demand by edit_account()
     rather than sending a whole modal dialog for every account. -->
<div class="modal fade" id="edit-account-template" tabindex="-1"
  role="dialog" aria-labelledby="edit-account-template-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="edit-account-template-label">
          Edit Account
        </h4>
      </div>
      <div class="modal-body">
        <form id="edit-account-template-form">
          <div class="form-group">
            <label for="edit-account-username-template">Username</label>
            <input type="text" class="form-control" name="username"
              id="edit-account-username-template" placeholder="Username" />
          </div>
          <div class="form-group">
            <label for="edit-account-domain-template">Domain</label>
            <select class="form-control" name="domain_id"
              id="edit-account-domain-template">
              @in[domain domains]{
                <option value="@(domain-id domain)">@(domain-name domain)</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label for="edit-account-password-template">Password (optional)</label>
            <input type="password" class="form-control" name="password"
              id="edit-account-password-template" placeholder="Password" />
          </div>
          <div class="form-group">
            <label for="edit-account-password-again-template">
              Confirm password (required if changing password)
            </label>
            <input type="password" class="form-control" name="password_again"
              id="edit-account-password-again-template"
              placeholder="Password again" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
 function show_alert(selector, type) {
   let a = $(`#alert-${type}`).clone();
   a.removeClass('hidden');
   a[0].id = undefined;
   a.insertBefore(selector);
 }

 function fake_password_hash(message) {
   console.log("not a cryptographically secure password hash!");
   return "super secret password hash";
 }

 function create_account() {
   let form = $('#add-account-form');
   let f = form[0];

   // Preflight password check
   let password = f.password.value;
   let password_again = f.password_again.value;
   if (password != password_again) {
     show_alert(form, password);
     return;
   }

   form.submit((event) => {
     let formData = {
       username: f.username.value,
       domain_id: f.domain_id.value,
       password_hash: fake_password_hash(password)
     };
     $.ajax({
       url: '/api/users',
       type: 'POST',
       processData: false,
       contentType: 'application/json',
       data: JSON.stringify(formData)
     })
       .done((id) => {
         let row = $('<tr></tr>');
         let username = formData.username;
         let domains = Array.from(f.domain_id.options);
         let domain = domains.find(o => o.value == formData.domain_id).label;
         let name = `<td>${username}@"@"${domain}</td>`;
         row.append(name);
         let buttons =
           `<td>
              <button
                type="button" class="btn btn-default"
                onclick="edit_account(${id})"
                data-toggle="modal"
                data-target="#edit-account-${id}">
                Edit
              </button>
              <button type="button" class="btn btn-danger"
                onclick="delete_account(${id}, this)">
                Delete
              </button>
            </td>`;
         row.append(buttons);
         $('#accounts-table').append(row);
         show_alert(form, 'saved');
       })
       .fail(() => show_alert(form, 'failed'));
     event.preventDefault();
   });
   form.submit();
 }

 function edit_account(id) {
   // Check if we already have generated the form for this user.
   let modal = $(`#edit-account-${id}`);
   if (modal.length === 0) {
     // Initialize a new form from the template.
     let template = $('#edit-account-template');
     modal = template.clone();
     modal[0].id = modal[0].id.replace('template', id);
     modal.find('[id*="template"]').each(
       (index, element) => element.id = element.id.replace('template', id)
     );
     let form = modal.find('form');
     let f = form[0];

     // Fill form with data from the API.
     $.ajax(`/api/users/${id}`)
       .done((data, textStatus, jqXhr) => {
         let user = jqXhr.responseJSON;
         let domain_id = user[1];
         let domains = form.find(`[name="domain_id"]`);
         domains.children(`[value="${domain_id}"]`)[0].selected = true;
         domains.children(`[value!="${domain_id}"]`).each(
           (index, elem) => elem.selected = false
         );
         f.domain_id.value = domain_id;
         f.username.value = user[2];
       });

     // Wire up the submit button.
     form.submit((event) => {
       let formData = {
         domain_id: f.domain_id.value,
         username: f.username.value
       };

       let password = f.password.value;
       let password_again = f.password_again.value;
       if (password != password_again) {
         show_alert(form, 'passwords');
         return;
       }
       if (password.length > 0)
         formData.password = password;

       $.ajax({
         url: `/api/users/${id}`,
         type: 'PATCH',
         processData: false,
         contentType: 'application/json',
         data: JSON.stringify(formData)
       })
         .done(() => show_alert(form, 'saved'))
         .fail(() => show_alert(form, 'failed'));
       event.preventDefault();
     });
     modal.find('button').last().click(() => form.submit());

     modal.insertAfter(template);
   }
 }

 function delete_account(id, elem) {
   $.ajax({
     url: `/api/users/${id}`,
     type: 'DELETE'
   })
     .done(() => {
       $(`#edit-account-${id}`).remove();
       $(elem).parents('tr').remove();
       show_alert('#accounts-table', 'saved');
     })
     .fail(() => show_alert('#accounts-table', 'failed'));
 }
</script>
