<h4>Aliases</h4>
<select id="account-select" onchange="update_aliases_table(this.value)">
  <option disabled selected>Select an account</option>
  @in[account accounts]{
    <option value="@(account-id account)">@(account-name account)</option>
  }
</select>
<br />
<br />
<table id="aliases-table" class="table table-striped table-hover">
  <tr><th>Alias</th></tr>
</table>

<script type="text/javascript">
 function update_aliases_table(id) {
   $.ajax(`/api/aliases?user_id=${id}`)
     .done((data) => {
       let aliases = JSON.parse(data)
         .map((row) => {
           return `<tr><td>${row[2]}</td></tr>`;
         });
       let table = $('#aliases-table > :first-child');
       let header = table.children(':first-child');
       table.children().replaceWith(header.after(aliases.join('')));
     });
 }
</script>
