<h4>Overview</h4>
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img
      src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      width="200" height="200"
      class="img-responsive"
      alt="Generic placeholder thumbnail" />
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>

<h4>Top Alias Counts</h4>
<p>These email accounts have more aliases than typical:</p>
<table class="table table-striped table-hover">
  <tr><th>Email</th><th>Alias Count</th></tr>
  @in[count alias-counts]{
    <tr><td>@(alias-count-email count)</td><td>@(alias-count-count count)</td></tr>
  }
</table>
