<div class="container-fluid">
  <div class="row">
    <h4 id="purpose">Purpose</h4>
    <p>
      This web application provides a user interface for managing DNS and
      email servers. Domains and email accounts/aliases are stored in a shared
      database to simplify administration.
    </p>
  </div>
  <div class="row">
    <h4 id="developer">About the Developer</h4>
    <p>
      Ryan Moeller is a Computer Science major at
      <a href="http://sonoma.edu">Sonoma State University</a>.
    </p>
  </div>
  <div class="row">
    <h4 id="data-model">Data Model</h4>
    <figure class="figure">
      <a href="relational-schema.png">
        <img
          src="relational-schema-thumb.png"
          class="figure-img img-fluid rounded"
          alt="relational schema" />
      </a>
      <figcaption class="figure-caption">
        Relational Schema
      </figcaption>
    </figure>
    <br />
    <br />
    <figure class="figure">
      <a href="entity-relationship-diagram.png">
        <img
          src="entity-relationship-diagram-thumb.png"
          class="figure-img img-fluid rounded"
          alt="entity relationship diagram" />
      </a>
      <figcaption class="figure-caption">
        Entity Relationship Diagram
      </figcaption>
    </figure>
    <br />
    <br />
    <figure class="figure">
      <a href="functional-dependency-diagram.png">
        <img
          src="functional-dependency-diagram-thumb.png"
          class="figure-img img-fluid rounded"
          alt="functional dependency diagram" />
      </a>
      <figcaption class="figure-caption">
        Functional Dependency Diagram
      </figcaption>
    </figure>
  </div>
</div>
