<div class="tab-content">
  <div id="overview" class="tab-pane active">
    @(include-template "domain/overview.html")
  </div>
  <div id="domains" class="tab-pane">
    @(include-template "domain/domains.html")
  </div>
  <div id="records" class="tab-pane">
    @(include-template "domain/records.html")
  </div>
</div>
