<div class="tab-content">
  <div id="overview" class="tab-pane active">
    @(include-template "email/overview.html")
  </div>
  <div id="accounts" class="tab-pane">
    @(include-template "email/accounts.html")
  </div>
  <div id="aliases" class="tab-pane">
    @(include-template "email/aliases.html")
  </div>
</div>
